@using TravelTripProje2.Models.Siniflar
@model List<BLog>
<div class="box-left">
    @foreach (var i in Model)
    {
        <div class="bot-img">
            <img src="@i.Blogimage " style="width:120px; height:50px;" alt="" />
        </div>
        <div class="bot-desc1">
            <p>@i.Aciklama.Substring(0, 30) </p>
        </div>
        <div class="clear"></div>
    }

    @Html.Action("Partial", "Default").ToString()


</div>