
<div class="content-form">
    <h4>Bir Yorum Yap</h4>
    <form method="post">
        <input type="hidden" placeholder="ID" value="@ViewBag.deger" required />
        <input type="text" placeholder="Kullanıcı Adı" required />
        <input type="text" placeholder="Mail Adres" required />
        <textarea placeholder="Yorum yap"></textarea>
        <input type="submit" value="Gönder" />
    </form>

</div>
